.footer {
    color: #D9D9D9;
    background-color: hsl(220, 47%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px 8vw;
   
    
}
.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    padding-top: 20px;
}
.logo {
    width: 300px;
}
.footer-content-left, .footer-content-center, .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
}
.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li {
    margin-bottom: 10px;
    list-style: none;
    color:rgb(109, 158, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;

}
.footer-content-left h2, .footer-content-center h2 {
    color: rgb(26, 86, 176);
    padding-top: 10px;
    margin-left: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.footer-content-right h2{
    color: rgb(26, 86, 176);
    padding-top: 10px;
    margin-left: 90px;
}
.footer-social-icons {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}
.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    color: rgb(26, 86, 176);
    
}
.icon-circle:hover {
    background-color:rgb(26, 86, 176);
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}
.footer li {
    cursor: pointer;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 77px;
    text-align: center;

}
.footer hr {
    width: 100%;
    background-color: rgb(109, 158, 219);
    border: none;
    height: 0.5px;
}
.footer-copyright{
color:rgb(26, 86, 176);
padding-top: 15px;
}
@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright {
        text-align: center;
    }
}


